[Socket]
# we need to create socket inside a directory to easily mount it inside zones
ListenStream=/run/security-manager/security-manager-master.socket
SocketMode=0700
SmackLabelIPIn=System
SmackLabelIPOut=System
Service=security-manager-master.service

[Unit]
Wants=security-manager-master.target
Before=security-manager-master.target
ConditionVirtualization=no

[Install]
WantedBy=sockets.target
