[Socket]
ListenStream=/run/security-manager-slave.socket
Symlinks=/run/security-manager.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@
Service=security-manager-slave.service

[Unit]
Wants=security-manager-slave.target
Before=security-manager-slave.target
Conflicts=security-manager.socket

[Install]
WantedBy=sockets.target
