[Socket]
ListenStream=/run/security-manager.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@
Service=security-manager-slave.service

[Unit]
Wants=security-manager.target
Before=security-manager.target

[Install]
WantedBy=sockets.target
