[Socket]
ListenStream=/run/security-manager-master.socket
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@
Service=security-manager-master.service

[Unit]
Wants=security-manager.target
Before=security-manager.target

[Install]
WantedBy=sockets.target
